# Google Drive Storage Pool Configuration
# JSON Array of accounts: [{"id": "acc_1", "credentials": {...}}, {"id": "acc_2", "credentials": {...}}]
GOOGLE_DRIVE_ACCOUNTS=

# Firebase Configuration
VITE_GOOGLE_CLIENT_ID=20585187052-8soc19j9gsjf65bd9ss13ctnrlmatcsv.apps.googleusercontent.com
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
